.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ! footer */
.footer {
    margin-top: auto;
    padding: 20px 10px 10px 10px;
    /* background-color: #f5f5f5; */
    background: url(../../assets/footer.webp) center no-repeat;
    background-size: cover;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
}

.footer__link {
    margin-right: 35px;

    color: #9c9c9a;

    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .4s;
}

.footer__link:hover {
    color: #1f9fba;
    text-decoration: underline;
}

/* ! footer icon */
.footer__list__icon {
    display: flex;
}

.footer__link__icon {
    margin-left: 20px;
    transition: .4s;
}

.footer__link__icon:hover {
    transform: scale(1.2);
}

.footer__link__icon a {
    font-size: 30px;
    color: #15c1e5;
    transition: .7s;
}

.footer__link__icon a:hover {
    color: red;
}

/* ! footer title */
.footer__title {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 20px 0px;
}

.footer__title__1 {
    color: #1f9fba;
    font-size: 15px;
}

.footer__title__2 {
    text-align: right;
    color: #1f9fba;
    font-size: 15px;
}

/* ! footer info */
.footer__info {
    display: flex;
    justify-content: space-between;
}

.footer__license {
    color: #1f9fba;
    font-size: 15px;
}

.footer__call {
    color: #1f9fba;
}

.footer__call li {
    list-style: none;
}

.footer__call li a {
    color: #1f9fba;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer__list {
        display: block;
        margin-bottom: 10px;
    }

    .footer__body {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .footer__link {
        display: block;
        margin-bottom: 5px;
    }

    .footer__title {
        display: block;
    }

    .footer__title__1 {
        margin-bottom: 15px;
    }

    .footer__title__2 {
        text-align: left;
        margin-bottom: 15px;
    }

    .footer__info {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer__license {
        margin: 15px 0;
    }
}