body {
	background: url(./assets/devices-bg.jpg) center/cover no-repeat fixed;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background-color: black;
}

.loading__color {
	color: white;
}
.load__url {
	text-decoration: none;
}

.wedo__img {
	display: block;
	max-width: 100%;
	min-height: 100vh;
}
